<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav class="sidenav-content" opened disableClose mode="side">
    <button mat-fab color="primary" class="sidenavBtn">
      <mat-icon class="mat-24">home</mat-icon>
    </button>
    <button mat-fab color="primary" class="sidenavBtn">
      <mat-icon class="mat-24">access_time</mat-icon>
    </button>
  </mat-sidenav>

  <div style="text-align:center">
    <h1>
      Welcome to {{title}}!
    </h1>
    <h2>The time is {{time}}</h2>
  </div>
</mat-sidenav-container>
